{% extends 'main.html' %}
{% load static %}

{% block title %}
Apply box
{% endblock %}

{% block content %}
<!-- Main Section -->
<main class="inbox my-xl">
  <div class="content-box">
    <h3 class="inbox__title">Application for {{ project }}</h3>

    {% if applyRequests %}
    <ul class="messages">
      {% for apply in applyRequests %}
      <li class="message message--unread">

        <a href="{% url 'verify-apply' apply.id %}">
          <span class="message__author">{{apply.sender.username}}</span>
          <span class="message__date">{{apply.created}}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <table class="settings__table">
      <tr>
            <td class="settings__thumbnail">
              <a href="#"><img src="{% static 'images/no-application.jpg' %}" alt='no apply'/></a>
            </td>
            <td class="settings__tableInfo">
              <h5>You havn't received any application yet.</h5>
            </td>
          </tr>
    </table>
    {% endif %}

    <br/><br><hr/><br>

    <h3 class="inbox__title">Project Quit Request</h3>
    
    {% if quitRequests %}
    <ul class="messages">
      {% for quit in quitRequests %}
      <li class="message message--unread">
        <a href="{% url 'verify-quit' quit.id %}">
          <span class="message__author">{{quit.sender.username}}</span>
          <span class="message__date">{{quit.created}}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <table class="settings__table">
      <tr>
            <td class="settings__thumbnail">
              <a href="#"><img src="{% static 'images/quit-request.jpg' %}" alt='quit request'/></a>
            </td>
            <td class="settings__tableInfo">
              <h5>You havn't received any QUIT request yet.</h5>
            </td>
          </tr>
    </table>
    {% endif %}

  </div>
</main>

{% endblock content %}