{% extends 'main.html' %}

{% block title %}
Message from {{ message.sender }}
{% endblock %}

{% block content %}

  <main class="messagePage my-xl">
    <div class="content-box">
        <div class="message">
            <a href="{% url 'inbox' %}" class="backButton">
                <i class="im im-angle-left"></i>
            </a>
            <h2 class="message__subject">{{ message.subject }}</h2>
            <a href="{% url 'user-profile' message.sender.id %}" 
               class="message__author">
                {{ message.sender }}
            </a>
            <p class="message__date">
                {{ message.created }}
            </p>
            <div class="message__body">
                {{ message.body | linebreaksbr }}
            </div>
            <br>

            <form class="form" method="POST">
                {% csrf_token %}
                {% if not message.is_apply_related %}
                <a class="btn btn--sub btn--lg  my-md" href="{% url 'reply-message' message.id %}">Reply</a>
                {% endif %}
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Delete" />
            </form>
        </div>
    </div>
  </main>

{% endblock %}